<main class="container mt-5">
<div class="card">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxUWoqZYJdxw4WB3GgYjvqpc-sYri5iPfR0TIiQ8eW9KqHI9SV1fcwlWM&s" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%=pageDetails.cardHeading%></h5>
    <p class="card-text"><%=pageDetails.cardBody%></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%=pageDetails.item1%></li>
    <li class="list-group-item"><%=pageDetails.item2%></li>
    <li class="list-group-item"><%=pageDetails.item3%></li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Bait-us-Salam</a>
    <a href="#" class="card-link">Google</a>
  </div>
</div>
</main>
